
  .table {
    margin-top: 5px;
    border-top: 1xp solid #000;
  }
  
  .pagination {
    display: flex;
    justify-content: flex-end;
  }
  
  .font-weight-small {
    font-size: 13px;
  }
  
  .master-filter {
    display: flex;
    justify-content: flex-end;
  }
  
  .table th {
    justify-content: space-between;
  }
  
  table thead .sorting_asc {
    background-image: url("https://cdn.datatables.net/1.10.22/images/sort_asc.png");
    cursor: pointer;
    *cursor: hand;
    background-repeat: no-repeat;
    background-position: center right;
  }
  
  table thead .sorting {
    background-image: url("https://cdn.datatables.net/1.10.22/images/sort_both.png");
    cursor: pointer;
    *cursor: hand;
    background-repeat: no-repeat;
    background-position: center right;
  }
  
  table thead .sorting_desc {
    background-image: url("https://cdn.datatables.net/1.10.22/images/sort_desc.png");
    cursor: pointer;
    *cursor: hand;
    background-repeat: no-repeat;
    background-position: center right;
  }
  
  table .thead th {
    border-bottom: 1px solid #000;
    padding: 5px;
    border-top: 0;
  }

  table .tbody td{
    padding: 7px;
    border-left: 1px solid #eee;
  }
  
  table .tfoot th {
    border-top: 1px solid #000;
    padding: 5px;
  }
  
  table th button {
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
   
  .spinner-border {
    left: 100%;
    top: 50%;
    margin: auto;
    margin-left: 100%; /* -1/2 width */
    margin-top: 100; /* -1/2 height */
  }
  